<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.FoodMapper">
	<!-- 음식 상세페이지 조회 -->
<!-- 	<select id="foodDetail" parameterType="com.smhrd.domain.Food" resultType="com.smhrd.domain.Food">
		select * from food where food_seq=(select food_seq from relationship)
		select * from food where food_seq = 455
	</select> -->
	<!-- 음식 상세페이지 조회 -->
	<select id="foodDetail" resultType="com.smhrd.domain.Food">
		select * from food where food_seq=#{food_seq}
	</select>
	
	<!-- 최근 본 음식 목록 출력 -->
	<select id="recentList" parameterType="com.smhrd.domain.Food" resultType="com.smhrd.domain.Food">
		select * from food where user_id={user_id} and food_seq=${food_seq}
	</select>
	
	<!-- ingredient_name autocomplete -->
	<select id="IngredientAuto" resultType="com.smhrd.domain.Ingredient"> 
		select * from ingredient where ingredient_name like CONCAT('%', #{ingredient}, '%') 
	</select> 


 	<select id="RelationList"  resultType="com.smhrd.domain.Relationship" parameterType="com.smhrd.domain.FoodVO">
		select food_seq from relationship
		where
		<foreach collection="intarr" item="item"
			 separator=" or " >
			 ingredient_seq = #{item}
		</foreach>
		group by food_seq
		having count(food_seq) = #{lenth}
	</select> 


	<select id="FoodList" resultType="com.smhrd.domain.Food">
		select * from food where
		<foreach collection="intList" item="item" open="food_seq in(" close=")" separator=",">
			#{item}
		</foreach>
	</select>

	<!-- food_name autocomplete -->
	<select id="FoodAuto" resultType="com.smhrd.domain.Food"> 
		select * from food where food_name like CONCAT('%', #{food}, '%') 
	</select> 
	
	
	
	
	
</mapper>