<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.FoodMapper">
	<!-- 음식 상세페이지 조회 -->
	<select id="foodDetail" parameterType="com.smhrd.domain.Food" resultType="com.smhrd.domain.Food">
		<!-- select * from food where food_seq=(select food_seq from relationship) -->
		select * from food where food_seq = 455
	</select>
	
	<!-- 음식 리스트 조회 -->
	<select id="foodList" parameterType="com.smhrd.domain.Food" resultType="com.smhrd.domain.Food">
		select * from food where food_seq=#{food_seq} and user_id=#{user_id}
	</select>
	
</mapper>