<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.WishlistMapper">

	<!-- 찜 추가 -->
	<insert id="addWish" parameterType="hashmap">
		insert into wishlist values(#{resultM}, #{resultF}, 'YES')
	</insert>
	
	<!-- 찜 삭제 -->
	<delete id="delWish" parameterType="hashmap">
		delete from wishlist where user_id=#{resultM} and food_seq=#{resultF}
	</delete>
	
	<!-- 찜 목록 확인 -->
	<!-- <select id="showWishAjax" parameterType="com.smhrd.domain.Wishlist" resultType="com.smhrd.domain.Wishlist">
		select * from wishlist where like_or_not = 'YES' and user_id=#{user_id}
	</select> -->
	<select id="showWishAjax" parameterType="com.smhrd.domain.Food" resultType="com.smhrd.domain.Food">
		select f.* from food f, wishlist w where f.food_seq = w.food_seq
		and w.wish_or_not = 'YES'
	</select>
	
	
</mapper>