@charset "UTF-8";

@import
	url("https://fonts.googleapis.com/css?family=Cabin:400,700|Source+Sans+Pro:400,700")
	;

@import
	url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	;

/* 업로드결과 */
.upload-result {
	margin-top: 450px;
}

/* 상세 왼쪽 크기 */
.row-left-place {
	display: block;
	text-align: center;
	width: 50%;
	float: left;
}

/* 상세찜공유 */
.row-left-place .col-md-6 {
	display: block;
	margin-left: 50px;
}
/* 상세조리이미지+아랫부분 */
.row-img img {
	width: 40%;
	line-height: 50%;
}

@media ( min-width : 1200px) {
	.row-img img {
		width: 50%;
	}
}

.row .col-md-6-01 {
	text-align: end;
}
@media (min-width: 992px) {
    .row .col-md-6-01 {
      width: 50%; }}
      
/* 상세 아이콘 */
.btn-like {
	background-color: transparent;
	border-style: none;
	color: transparent;
	text-shadow: 0 0 2px rgb(255, 255, 255), 0 0 0 #000;
	font-size: -webkit-xxx-large;
	float: right;
	text-align: right;
	margin-top: -5px;
}

.btn-like.done {
	text-shadow: 0 0 2px #ff0000, 0 0 0 rgb(255, 0, 0);
}

.col-md-6-01 {
	display: block;
	float: right;
}

.col-md-6 .col-md-6-01 div {
	display: block;
	/* position: inherit; */
	/* text-align: center; */
	float: left;
	/* margin-left: 150px; */
	/* margin-top: 10px; */
}

.col-md-6 .col-md-6-01 div div {
	display: block;
	/* position: inherit; */
	/* text-align: center; */
	float: left;
	/* margin-top: 100px; */
}

.col-md-6 i {
	color: #000;
	/* width: 32px;
    height: 32px; */
	display: block;
	line-height: 32px;
	font-size: 50px;
	/* text-align: center; */
	margin: 20px;
	/* float: left; */
}

.form-all {
	/* display: inline-block; */
	margin-left: -30%;
	text-align: center;
	display: inline;
	width: 100%;
}

.form-all div {
	display: block;
	position: relative;
	vertical-align: middle;
	margin-left: -10%;
}
/* 해당영상 */
.recipe-youtube {
	text-align: center;
	margin-bottom: 3%;
}

.recipe-youtube img {
	width: 20%;
}
/* 레시피순서 */
.recipe-order {
	/* text-align:left; */
	margin-left: 10%;
}

.recipe-order01, .recipe-order02 {
	width: 100%;
}
/* h만해도되나 */
.recipe-order01 img, .recipe-order02 h {
	float: left;
}

.recipe-order01 img {
	width: 40%;
}

.recipe-order02 {
	margin-left: 45%;
	vertical-align: middle;
}

.recommend-youtube {
	width: 100%;
	float: left;
	text-align: center;
}
/* 추천유튜브 */
.recommend-youtube img {
	width: 10%;
	/* float: left; */
	margin-top: 3%;
	margin-left: 2%;
}


/* 업로드 */
/* 마우스호버 */

  @media (min-width: 1200px) {
    .grid-sizer-01,
    .grid-item-01 {
      width: 100%; } }
.gutter-sizer-01 {
  width: 1%; }
  
  /* 업로드마우스 호버 */
.gutter-sizer-01 {
    width: 1%; }

.grid-item-01 {
  position: relative;
  display: block; }
  .grid-item .project-description {
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5%;
    text-decoration: none; }
    .grid-item .project-description .project-text-holder {
      display: table;
      text-align: center;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .grid-item .project-description .project-text-holder .project-text-inner {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0; }
  .grid-item-01:hover .project-description {
    opacity: 100; }
/* 업로드마우스호버 */
    .grid-item-01 {
        position: relative;
        display: block; }
        .grid-item-01 .project-description {
          opacity: 0;
          -webkit-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear;
          background: rgba(255, 255, 255, 0.5);
          position: absolute;
          width: 90%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 5%;
          text-decoration: none; }
          .grid-item-01 .project-description .project-text-holder-01 {
            display: table;
            text-align: center;
            vertical-align: middle;
            width: 100%;
            height: 100%;
            overflow: hidden; }
            .grid-item-01 .project-description .project-text-holder-01 .project-text-inner-01 {
              display: table-cell;
              text-align: center;
              vertical-align: middle;
              width: 100%;
              height: 100%;
              margin: 0;
              padding: 0; }
        .grid-item-01:hover .project-description {
          opacity: 100; }
          /* 업로드주재료글씨 */
.project-text-inner-01 h3{
color: red;}

/* 검색창 꾸미기 */

.section-container-spacer01{
    text-align: center;
    display: block;
}
.section-lcontainer-spacer-inp {
    text-align: center;
    align-items: center;
    display: inline-block;
    margin-top: 150px;
}

.section-lcontainer-spacer-inp input{
    display: inline-block;
    /* position: absolute; */
    width: 160%;
    line-height: 50px;
    font-size: 25px;
    /* float: left; */
    outline: none;
}

.section-container-spacer01 .button {
    display: inline-block;
    /* float: left; */
    margin-left: 170px;
  }

.section-container-spacer01 label {
    display: inline-block;
    position: relative;
    /* margin-bottom: 30px; */
    line-height: 50px;
    font-weight: bold;
    font-size: 30px;
    /* float: right; */
    margin-left: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: orange;
    border-radius: 18%;
    cursor: pointer;
    /* vertical-align: middle; */
  }

  
  /* 키워드 닫기부분 */
  .image-upload{
    margin-left: -300px;
    float: left;
  }

#chooseFile01,#chooseFile02,#chooseFile03 {
    /* float: left; */
    visibility: hidden;
    
}

.fileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#result{
    /* border: 1px solid black; */
    font-size: 20px;
    border-radius: 30%;
    /* display: inherit; */
    justify-content: center;
    padding: 1%;
}

div#result {position:relative; padding-right:15px;} 
div#result:before, div#result:after {position: absolute; right:7px; top:6px; content:''; height: 8px; width:1px; background-color: #222;} 
div#result:before {transform: rotate(45deg);} 
div#result:after {transform: rotate(-45deg);}

/* 여기까지 */


/* 메인 */
/* 메인오늘의 */
.today-recipe{
  display: flex;
  justify-content: center;
  float: left;
}
.today-recipe-place{
  /* text-align: center; */
  /* display: flex;
  justify-content: center; */
  margin-top: 3%;
  /* border: 1px solid black; */
  width: 80%;
  height: 380px;
  /* background-color: #e1e1e1; */
}
/* .today-recipe-place img{
  width: auto;
  height: 400px;
  
} */

.today-recipe-place p {
  font-size: 460%;
  height: auto;
  margin-left: 3%;
  /* display: block; */
}
.section-container-spacer-rcp{
  text-align: left;
  margin-left: 6%;
  margin-top: -1.7%;
  /* height: 500px; */
  /* float: left; */
  /* display: block; */
}
.recipe-list{
  float: left;
  width: 30%;
}
.recipe-list p{
  font-size: 22px;
  margin: 0.2%;
}
.recipe-list a{
  color: #000;
  
}

.recipe-list-img{
  width: 100%;
  text-align: center;
  margin-top: -11%;
  margin-left: 9%;
}
.recipe-list-img img{
  width: 40%;
}

/* 오늘의 검색 */
.form-group-start{
  width: 200%;
  /* text-align: center; */
  margin-top: 5%;
  float: left;
}

@media (min-width:1200px){
  .form-group-start-place{
    text-align: center;
  }
}

.form-group-start .upload-label01 {
  display: inline-block;
  position: relative;
  width: 45.7%;
  margin-bottom: 1%;
  /* line-height: 50px;
  font-weight: bold; */
  font-size: 30px;
  /* float: right; */
  /* margin-left: 10px; */
  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: red;
  /* border-radius: 18%; */
  cursor: pointer;
  /* vertical-align: middle; */
}
.form-group-start input{
  width: 40%;
  /* line-height: 3.7; */
  font-size: 30px;
}
.form-group-start .upload-label02 {
  display: inline-block;
  position: relative;
  margin-bottom: 12px;
  /* line-height: 50px; */
  font-weight: bold;
  font-size: 30px;
  /* float: right; */
  margin-left: 10px;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: orange;
  border-radius: 18%;
  cursor: pointer;
  vertical-align: middle;
}

/* 마이 */
/* 마이목록호버 */
@media (min-width: 1200px) {
  .grid-sizer-02,
  .grid-item-02 {
    width: 100%; } }
.gutter-sizer-02 {
width: 1%; }

/* 마이마우스 호버 */
.gutter-sizer-02 {
  width: 1%; }

.grid-item-02 {
position: relative;
display: block; }
.grid-item .project-description {
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 90%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 5%;
  text-decoration: none; }
  .grid-item .project-description .project-text-holder {
    display: table;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .grid-item .project-description .project-text-holder .project-text-inner {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0; }
.grid-item-02:hover .project-description {
  opacity: 100; }
/* 업로드마우스호버 */
  .grid-item-02 {
      position: relative;
      display: block; }
      .grid-item-02 .project-description {
        opacity: 0;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        width: 90%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 5%;
        text-decoration: none; }
        .grid-item-02 .project-description .project-text-holder-02 {
          display: table;
          text-align: center;
          vertical-align: middle;
          width: 100%;
          height: 100%;
          overflow: hidden; }
          .grid-item-02 .project-description .project-text-holder-02 .project-text-inner-02 {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0; }
      .grid-item-02:hover .project-description {
        opacity: 100; }
          /* 마이주재료글씨 */
          .project-text-inner-02 h3{
            color: red;}
/* 전체 묶는 div 하나 더 만들어보자 */
.my-grid-place{
  display: flex;
  /* float: left; */
}

.my-grid{
  /* text-align: center; */
  float: left;
}

.grid-item-02 img {
  display: flex;
  width: 100%;
  text-align: center;
}

/* 버튼 시도 */
#btn-like{
	background-color: transparent;
	border-style: none;
	color: transparent;
	text-shadow: 0 0 2px rgb(255, 255, 255), 0 0 0 #000;
	font-size: -webkit-xxx-large;
	float: right;
	text-align: right;
	margin-top: -5px;
}

/* 10.07 */



/* 10.13 세령(디테일 페이지) */
.datail-margin{
	margin:1%
}
#process{
	padding:3%;
	width:100%;
	margin:1%;
}
#orderIMG{
	max-width:100%;height:auto
}
#cooking_order{
	list-style: none;
	margin:0px;
	padding:0px;
	
	max-width: 550px;
	width:100%;
}
.order_li{
	float:left;
	display:inline-block;
}