<!DOCTYPE html>
<!-- 타임리프 스키마 삽입 : 태그, 속성들 사용 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link href="./images/apple-icon-180x180.png" rel="apple-touch-icon">
<link href="./images/favicon.ico" rel="icon">



  <title>Title page</title>

<link href="../css/main.82cfd66e.css" rel="stylesheet">
<link href="../js/main.js" rel="stylesheet">
<script type="text/javascript" src="../js/main.85741bff.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

  <!-- Add your content of header -->
  <header class="">
    <div class="navbar navbar-default visible-xs">
      <button type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a th:href="goMain.do" class="navbar-brand">Insert Ingredient</a>
    </div>

    <nav class="sidebar">
      <div class="navbar-collapse" id="navbar-collapse">
        <div class="site-header hidden-xs ">
          <a class="site-brand site-brand-size" th:href="goMain.do" title="">
            <img class="img-responsive site-logo" alt="" src="../images/logo_test02.png">
            <span>Insert Ingredient</span>
          </a>
         
        </div>
        <ul class="nav">
			<li><a th:href="goMain.do" title="">Home</a></li>
			<li><a th:href="goUpload.do" title="">Upload</a></li>
			<li><a th:href="goMypage.do" title="">MyPage</a></li>
        </ul>

        <nav class="nav-footer">
          <!-- <a class="nav-footer-lj" href="./join-a.html" title="">Login / Join</a> -->
          <h5><a th:href="goLogin.do" title="">Login</a> / <a th:href="goJoin.do" title="">Join</a></h5>
          <p>© Untitled | Website created with <a href="https://shrcampus.com/"
              title="Beautiful Free Images">shrcampus</a></p>
        </nav>
      </div>
    </nav>
  </header>
  <main class="" id="main-collapse">


    <div class="row">
      <!-- <img style="opacity: 10%;" src="./assets/images/img-12.jpg" alt=""> -->
      <div class="new-10">
        <div class="col-xs-12 section-container-spacer main-name-size">
     <span class="main-title" >뭐</span><!-- 
          --><span class="main-title">먹</span><!--
          --><span class="main-title">조</span> 
              <!-- span class="main-title">정</span  -->
              <!-- span class="main-title">해</span  -->
              <!-- span class="main-title">조</span> --> 
            
            <div class="new-11">
              <p>뭐먹조정해조는 스마트인재개발원을 대표하는 </p>
              <p>외국인 대상 음식 추천 조리법을 소개하려고 합니다.</p>
            </div>
            <div class=" newmainBanner-bg a-Opacity is-Opacity">
              <span class="newmainBanner-bg-img" style="background-image: url(../images/음식15.jpg)">
              </span>
            </div>
          </div>
        </div>

        <div class="col-xs-12 form-group-start">
          <div class="">
            <button style="display: none;" id="upload-btn"></button>
            <label class="upload-label01" for="upload-btn">Upload</label>
          </div>
          <div class="search-center-main">
            <input type="text" class="insert-start" placeholder="요리를 검색하세요">
           <!--  <button style="margin: 1%;" type="submit" class="btn btn-primary btn-lg">Send</button> -->
          </div>
        </div>

      </div>

      <div class="col-xs-12 section-container-spacer main-down-margin">
        <h1><span class="main-title">S</span><!-- 
         --><span class="main-title">e</span><!-- 
         --><span class="main-title">r</span><!-- 
         --><span class="main-title">v</span><!-- 
         --><span class="main-title">i</span><!-- 
         --><span class="main-title">c</span><!-- 
         --><span class="main-title">e</span><!-- 
         --><span class="main-title">s</span></h1>

      </div>
      
   <div id="slideShowm">
      <ul class="slidesm">
        <li><img class="main-slide-size" src="../images/음식06.jpg" alt=""></li>
        <li><img class="main-slide-size" src="../images/음식01.jpg" alt=""></li>
        <li><img class="main-slide-size" src="../images/음식08.jpg" alt=""></li>
        <li><img class="main-slide-size" src="../images/음식07.jpg" alt=""></li>
      </ul>
      <p class="controllerm">

        <!-- &lang: 왼쪽 방향 화살표
            &rang: 오른쪽 방향 화살표 -->
        <span class="prevm">&lang;</span>
        <span class="nextm">&rang;</span>
      </p>
    </div>
   
     <div class="list"> 
      <div class="moveTopBtn">Top</div>

    </div>

  </main>

	<script type="text/javascript">
	// 업로드 버튼 클릭 시, 페이지 이동
	$('#upload-btn').click(function(){
		console.log("업로드 버튼 클릭~!")
		location.href="goUpload.do";
	})
	</script>


  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      navActivePage();
    });
  </script>

  <!-- 메인 슬라이드 -->
  <script>
    const slidesm = document.querySelector('.slidesm'); //전체 슬라이드 컨테이너
    const slideImgm = document.querySelectorAll('.slidesm li'); //모든 슬라이드들
    let currentIdxm = 0; //현재 슬라이드 index
    const slideCountm = slideImgm.length; // 슬라이드 개수
    const prevm = document.querySelector('.prevm'); //이전 버튼
    const nextm = document.querySelector('.nextm'); //다음 버튼
    const slideWidthm = 800; //한개의 슬라이드 넓이
    const slideMarginm = 50; //슬라이드간의 margin 값

    //전체 슬라이드 컨테이너 넓이 설정
    slidesm.style.width = '2500px'
    // (slideWidth*2 + slideMargin) * slideCount + 'px';
    function moveSlidem(num) {
      slidesm.style.left = -num * 400 + 'px';
      currentIdxm = num;
    }

    prevm.addEventListener('click', function () {
      /*첫 번째 슬라이드로 표시 됐을때는 
      이전 버튼 눌러도 아무런 반응 없게 하기 위해 
      currentIdx !==0일때만 moveSlide 함수 불러옴 */

      if (currentIdxm !== 0) moveSlidem(currentIdxm - 1);
    });

    nextm.addEventListener('click', function () {
      /* 마지막 슬라이드로 표시 됐을때는 
      다음 버튼 눌러도 아무런 반응 없게 하기 위해
      currentIdx !==slideCount - 1 일때만 
      moveSlide 함수 불러옴 */
      if (currentIdxm !== slideCountm - 1) {
        moveSlidem(currentIdxm + 1);
      }
    });

  </script>


  <!-- 글씨부드럽게나타남 -->
  <script>
    const introText = document.querySelectorAll('.main-title')

    window.onload = () => {
      let timer = 100;
      introText.forEach((item) => {
        item.style.animation = `fade 500ms ${(timer += 80)}ms forwards`;
      });
    };
  </script>

<!-- top 상단이동 -->
  <script>
    const $topBtn = document.querySelector(".moveTopBtn");

    // 버튼 클릭 시 맨 위로 이동
    $topBtn.onclick = () => {
      window.scrollTo({ top: 0, behavior: "smooth" });
    }

    // 처음에 페이지 하단으로 스크롤 위치 지정
    /* window.onload = () => {
      window.scrollTo({ top: document.body.scrollHeight });
    } */
  </script>
  <script type="text/javascript" src="../js/main.85741bff.js"></script>
</body>

</html>