<!DOCTYPE html>
<!-- thymeleaf 스키마 삽입 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<!-- 레시피 상세 페이지 -->
	<h1>여기는 상세페이지</h1>

	<!-- 해당 음식 정보 가져오기 -->
	[[${session.Food}]]
	
	<!-- 전체 음식 리스트 -->
	<table>
		<tr>
			<td>음식 이름</td>
			<td>음식 이미지</td>
		</tr>
		<tr th:each="foodList : ${list}">
			<td th:text="${foodList.food_name}"></td>
			<td th:text="${foodList.food_img}"></td>
		</tr>
	</table>
	
	<!-- 마우스 호버 버튼 -->
	<div class="grid-item">
		<img class="img-responsive" alt="" src="../images/img-13.jpg" style="width:50%">
		<a class="project-description">
			<div class="project-text-holder">
				<div class="project-text-inner">
					<button id="wish-btn">💗</button>
				</div>
			</div>
		</a>
	</div>
	
	<hr>
	[[${list}]]
	
	<script type="text/javascript">
	/* 음식 리스트 출력 함수 */
	function foodList(){
		$.ajax({
			url : 'detail.do',
			type : 'get',
			dataType : 'json',
			success : makeList,
			error : function(e){alert(e)}
		})
	}
	function makeList(res){
		console.log(res[0].food_name)
	}
	
	
	$('#wish-btn').click(function(){
		alert('찜한 레시피 목록으로 이동하시겠습니까?')
		console.log('클릭됨')
		location.href="goMypage.do";
	})
	</script>
</body>
</html>