<!DOCTYPE html>
<!-- thymeleaf 스키마 삽입 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width,initial-scale=1" name="viewport">
<meta content="description" name="description">
<meta name="google" content="notranslate" />
<meta content="Mashup templates have been developped by Orson.io team"
	name="author">

<!-- Disable tap highlight on IE -->
<meta name="msapplication-tap-highlight" content="no">

<link href="./images/apple-icon-180x180.png" rel="apple-touch-icon">
<link href="./images/favicon.ico" rel="icon">

<title>Detail page</title>
<link rel="icon" href="kakao.png">
<link href="../css/main.82cfd66e.css" rel="stylesheet">
<link href="../css/main.css" rel="stylesheet">
<link href="../js/main.js" rel="stylesheet">
<script type="text/javascript" src="../js/main.85741bff.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

	<!-- Add your content of header -->
	<header class="">
		<div class="navbar navbar-default visible-xs">
			<button type="button" class="navbar-toggle collapsed">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a th:href="goMain.do" class="navbar-brand">Insert Ingredient</a>
		</div>

		<nav class="sidebar">
			<div class="navbar-collapse" id="navbar-collapse">
				<div class="site-header hidden-xs">
					<a class="site-brand" th:href="goMain.do" title=""> <img
						class="img-responsive site-logo" alt=""
						src="../images/logo_test02.png" style="width:40%;"><h3> Insert Ingredient</h3>
					</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor.</p>
				</div>
				<!-- 좌측 카테고리 -->
				<ul class="nav">
					<li><a th:href="goMain.do" title="">Home</a></li>
					<li><a th:href="goUpload.do" title="">Upload</a></li>
					<li><a th:href="goMypage.do" title="">MyPage</a></li>
				</ul>


				<nav class="nav-footer">
					<!-- 로그아웃 -->
					<p>
						<a href="logout.do">Logout</a>
					</p>
					<p class="nav-footer-social-buttons">
						<a class="fa-icon" href="https://www.instagram.com/" title="">
							<i class="fa fa-instagram"></i>
						</a> <a class="fa-icon" href="https://dribbble.com/" title=""> <i
							class="fa fa-dribbble"></i>
						</a> <a class="fa-icon" href="https://twitter.com/" title=""> <i
							class="fa fa-twitter"></i>
						</a>
					</p>
					<p>
						© Untitled | Website created with <a
							href="http://www.mashup-template.com/"
							title="Create website with free html template">Insert Ingredient</a>/<a href="https://www.unsplash.com/"
							title="Beautiful Free Images">Unsplash</a>
					</p>
				</nav>
			</div>
		</nav>
	</header>
	
	<!-- 메인화면 -->
	<main class="" id="main-collapse">
		<!-- 로그인 세션확인 -->
		[[${session.member}]]
		<h1>Detail</h1>
		<div class="row">
			<!-- css 조금 수정(row-left-place) -->
			<div class="row-left-place">
				<div class="row-img">
					<img class="img-responsive" src="../images/img-14.jpg" alt="">
				</div>

				<div class="col-md-6">
					<div class="col-md-6-01">
						<div>
							<!-- <div>
								<button class="btn-like">💗</button>
							</div> -->
							<!-- 찜하기 -->
							<!-- <a class="btn-like">💗</a> -->
						</div>
							<a class="btn-like">💗</a>
							<p>찜 목록 보러가기<a th:href="showWishAjax.do">클릭</a></p>
					</div>
				</div>
			</div>
		</div>
		
		<div>
			<div class="col-md-6">
				<div class="form-all">
					<div>
						<div class="form-group01">
							<textarea name="" id="foodname" class="form-control" cols="10"
								rows="1" disabled placeholder="요리명"></textarea>
							[[${session.Food.food_name}]]
						</div>
						<div class="form-group02">
							<textarea name="" id="anything" class="form-control" cols="30"
								rows="2" disabled placeholder="재료"></textarea>
							[[${session.Food.ingredient_name}]]
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- 만개의 레시피 영상 자리? -->
		<div class="recipe-youtube">
			<img src="../images/img-07.jpg" alt="">
			<textarea
				style="vertical-align: middle; margin-left: -10%; width: 10%; font-size: 20px; resize: none;"
				name="" id="" cols="10" rows="1">해당영상자리</textarea>
			[[${session.Food.youtube}]]
		</div>


		<div class="recipe-order">
			<div class="recipe-order01">
				<img class="img-responsive" alt="" src="../images/img-12.jpg">
			</div>
			<div class="recipe-order02">
				<h2>01.</h2>
				<p>순서별 요리설명</p>
				<p>순서별 요리설명</p>
				<p>순서별 요리설명</p>
				<p>순서별 요리설명</p>
				<p>순서별 요리설명</p>
				<p>순서별 요리설명</p>
				[[${session.Food.process_article}]]
			</div>
		</div>
		<!-- 추천 영상 자리? -->
		<div class="recommend-youtube">
			<img src="../images/img-04.jpg" alt="">
			<textarea
				style="vertical-align: middle; margin-left: -10%; width: 10%; font-size: 20px; resize: none;"
				name="" id="" cols="10" rows="1">해당영상자리</textarea>
			<img src="../images/img-04.jpg" alt=""> <img
				src="../images/img-04.jpg" alt=""> <img
				src="../images/img-04.jpg" alt="">
		</div>
	</main>

	<script>
		document.addEventListener("DOMContentLoaded", function(event) {
			navbarToggleSidebar();
			navActivePage();
		});
	</script>


	<script>
		// <![CDATA[  <-- For SVG support
		if ('WebSocket' in window) {
			(function() {
				function refreshCSS() {
					var sheets = [].slice.call(document
							.getElementsByTagName("link"));
					var head = document.getElementsByTagName("head")[0];
					for (var i = 0; i < sheets.length; ++i) {
						var elem = sheets[i];
						var parent = elem.parentElement || head;
						parent.removeChild(elem);
						var rel = elem.rel;
						if (elem.href && typeof rel != "string"
								|| rel.length == 0
								|| rel.toLowerCase() == "stylesheet") {
							var url = elem.href.replace(
									/(&|\?)_cacheOverride=\d+/, '');
							elem.href = url
									+ (url.indexOf('?') >= 0 ? '&' : '?')
									+ '_cacheOverride='
									+ (new Date().valueOf());
						}
						parent.appendChild(elem);
					}
				}
				var protocol = window.location.protocol === 'http:' ? 'ws://'
						: 'wss://';
				var address = protocol + window.location.host
						+ window.location.pathname + '/ws';
				var socket = new WebSocket(address);
				socket.onmessage = function(msg) {
					if (msg.data == 'reload')
						window.location.reload();
					else if (msg.data == 'refreshcss')
						refreshCSS();
				};
				if (sessionStorage
						&& !sessionStorage
								.getItem('IsThisFirstTime_Log_From_LiveServer')) {
					console.log('Live reload enabled.');
					sessionStorage.setItem(
							'IsThisFirstTime_Log_From_LiveServer', true);
				}
			})();
		} else {
			console
					.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
		}
		// ]]>
	</script>

	<!-- <script>
		
		
			if(user_id != null){
				// 회원
				function wish(){
					
				}
			}else{
				// 비회원
				alert('로그인이 필요한 서비스입니다.')
				location.href="goLogin.do";
			}
			
	</script> -->
	
	<!-- 상세찜 -->
	<script th:inline="javascript">
		/* function service(){
			sessionStorage.setItem('user_id', user_id)
			
			if (sessionStorage.getItem('user_id') == null){
				alert('로그인이 필요한 서비스입니다.')
				location.href="goLogin.do"
			}else{
				alert('찜한 레시피 목록으로 이동하시겠습니까?!!!!')
				console.log(user_id)
				console.log('마이페이지 이동~!')
				location.href="goMypage.do"
			}
		} */
		$(".btn-like").click(function() {
			$(this).toggleClass("done");
			location.href="saveWish.do"
			console.log('과연,,,,')
		})
			
			
		
		/* $(document).on('click', '.btn-like', function(){
			$('.btn-like').css({"text-shadow": "0 0 2px #ff0000, 0 0 0 rgb(255, 0, 0)"})
			location.href="saveWish.do"
			alert('Successfully added to wishlist')
			console.log('찜 저장')
			$('.btn-like').attr('id', 'cancel')
		})
		$(document).on('click', '#cancel', function(){
			$('#cancel').css({"none"})
			$('.btn-like').attr('class', 'btn-like')
		}) */
			
		
		/* $(document).on('click', '#cancel', function(){
			location.href="noWish.do"
			alert('Successfully removed from wishlist')
			console.log('찜 삭제')
			$('#cancel').attr('id', 'wish-btn')
		}) */
		
		
	
	</script>
			
			<!-- alert('찜한 레시피 목록으로 이동하시겠습니까?')
			location.href="goMypage.do";
			$.ajax({
				url:"saveWish.do",
				type:'post',
				data:
			}) -->

</body>

</html>