<!DOCTYPE html>
<!-- 타임리프 스키마 삽입 : 태그, 속성들 사용 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	[[${session.member}]]
	<!-- 회원정보수정 html 페이지 -->
	<h3>[[${session.member.user_name}]]님, 임시 회원정보수정 창</h3>
	<form th:action="@{/update.do}" method="post" th:object="${member}">
		<input type="hidden" th:value="${session.member.user_id}" name="user_id" readonly><br>
		PW : <input type="password" th:field = "*{user_pw}" name="user_pw" th:placeholder="${session.member.user_pw}"><br>
		NAME : <input type="text" th:field="*{user_name}" name="user_name" th:placeholder="${session.member.user_name}"> <br><br><br>
		<button>수정</button>
	</form>
		<!-- 취소버튼 클릭 시, 메인으로 이동(뒤로가기) -->
		<button th:onclick="goMain()">취소</button>
	
	<script type="text/javascript">
		/* 취소버튼 클릭 시, 메인으로 이동 함수 */
		function goMain(){
			location.href="goMain.do";
		}
	</script>
	
</body>
</html>